*{margin: 0; padding: 0;}
#about {height: 100vh; width: 100%; background-color: #000;}
#about .coding_main {position: relative; height: calc(100% - 150px); padding-top: 150px; width: 100%;}
#about .coding_main .title {display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
#about .coding_main .title h1{font-size: 90px; color: white; }
#about .coding_main .title span{color: white; font-size: 27px; }

#about .coding_main .mouse{position: absolute; left: 50%; bottom: 20px; transform: translateX(-50%); color: #fff; text-align: center;}
#about .coding_main .mouse .out{width: 20px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 70px;  height: 30px; border: 3px solid #888; border-radius: 20px 20px 10px 10px;}
#about .coding_main .mouse .out::before {position: absolute;left: 50%; transform: translateX(-50%); top: 10%; animation: wheel 2s ease-in-out 0.5s infinite;  content: "";width: 3px; height: 10px; background-color: #888;}
#about .coding_main .mouse .out::after {position: absolute;left: 50%; transform: translateX(-50%); top: -10px;  content: "";width: 3px; height: 10px; background-color: #888;}
#about .coding_main .mouse span {top: -20px; left: 50%; transform: translateX(-50%); display: block; position: absolute; font-size: 40px; font-weight: 200;}

@keyframes wheel{
    0%{top:10%; opacity: 1;}
    100%{top:50%; opacity: 0;}
}

#about .char {width: 100%; height: calc(100vh - 150px); position: relative; padding-top: 200px;}
#about .char>div {position: absolute; left: 50%; top: 50%; width: 900px; height: 450px; text-align: center; transform: translate(-50%,-50%);}
#about .char div .character {position: absolute; left: 0; top: 10%;}
#about .char div ul li:first-child{color:#ffd94a; font-size: 70px; padding-bottom: 20px;}
#about .char div ul li{color:#fff;font-size: 30px;}
#about .char div .habby {position: absolute; left: 50%; top: 0; transform: translate(-50%,-10%);}
#about .char div .concern {position: absolute; right: 0; top: 10%;}

#about .skill {width: 100%; height: calc(100vh - 150px);}





